
            Assignment-03-Q2 (Hypothesis Testing)
Q2. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sn
from scipy import stats
from scipy.stats  import norm

In [2]:
# load the data set 
data=pd.read_csv('C:/Users/SHRI/OneDrive/Desktop/data science/day -1/assingments and datasets/LabTAT.csv')
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [3]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
data.describe(include='all')

       Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
count    120.000000    120.000000    120.000000     120.00000
mean     178.361583    178.902917    199.913250     163.68275
std       13.173594     14.957114     16.539033      15.08508
min      138.300000    140.550000    159.690000     124.06000
25%      170.335000    168.025000    188.232500     154.05000
50%      178.530000    178.870000    199.805000     164.42500
75%      186.535000    189.112500    211.332500     172.88250
max      216.390000    217.860000    238.700000     205.18000

In [8]:
lab_1=data['Laboratory 1'].mean()
print('mean of laboratory_1 is',lab_1)
lab_2 = data['Laboratory 2'].mean()
print('mean of laboratory is ', lab_2)
lab_3=data['Laboratory 3'].mean()
print('mean of laboratory 3 is', lab_3)
lab_4 = data['Laboratory 4'].mean()
print('mean of Laboratory 4 is', lab_4)

mean of laboratory_1 is 178.36158333333339
mean of laboratory is  178.9029166666668
mean of laboratory 3 is 199.91325000000003
mean of Laboratory 4 is 163.6827499999999

In [10]:
sn.boxplot(y=data['lab1'])

KeyError: 'lab1'

In [11]:
#Anova ftest statistics:
 #        Analysis of varaince between more than 2 samples 
  #  or 
   #      columns Assume Null Hypothesis Ho as No Varaince: All samples TAT population means are same
   # Thus,
   #     Alternate Hypothesis Ha as It has Variance: Atleast one sample TAT population mean is different

In [12]:
#Anova  f test statistics: stats.f_oneway(coloum-1,colum-2,column-3 ,column-4)                                                                                                                                                                                                                                                                                                    test statistics :
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2], data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [13]:
p_value[1]

2.1156708949992414e-57

In [1]:
#as p_vlaue =0  greater then alpha= 0.05 
# reject nul hypothesis 
# i.e atleast one sample TAT population mean is different 
#thus there is varience or difference in average  TAT of reports of the laboratories on their prefered list.